[Desktop Entry]
Name=Network
GenericName=Networkmanager Settings
Exec=networkmanager_dmenu
Icon=network-wireless
Type=Application
Categories=Rofi;Desktop;Settings;Network;
