[Desktop Entry]
Name=Calculator
Comment=
Exec=rofi -modi calc:rofi-calc.sh -show calc
Icon=accessories-calculator
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;Calculator;
