[Desktop Entry]
Name=Display Configuration
Comment=
Exec=rofi-monitor-layout.sh
Icon=video-display
Terminal=false
Type=Application
Categories=Rofi;Desktop;Settings;
