[Desktop Entry]
Name=Brightness
Comment=
Exec=rofi-brightness.sh
Icon=display-brightness
Terminal=false
Type=Application
Categories=Rofi;Desktop;Settings;
