[Desktop Entry]
Name=Watch TV
Comment=
Exec=rofi-tv.sh
Icon=video-display-tv
Terminal=false
Type=Application
Categories=Rofi;Desktop;AudioVideo;Video;TV;Tuner;
