[Desktop Entry]
Name=TNT Village Torrents
Comment=
Exec=rofi-tnt.sh
Icon=edit-bomb
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;P2P;
