[Desktop Entry]
Name=Radio Stations
Comment=
Exec=rofi-radio.sh
Icon=radio
Terminal=false
Type=Application
Categories=Rofi;Desktop;AudioVideo;Audio;Tuner;
