[Desktop Entry]
Name=rofi-torrent
Comment=
Exec=rofi-torrent.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
