#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pictures
Comment=
Exec=rofi-search.sh "Pictures"
Icon=multimedia-photo-manager
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Filesystem;
