[Desktop Entry]
Name=Contacts
Comment=
Exec=rofi-contacts.sh
Icon=office-contact
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;Office;Email;
