[Desktop Entry]
Name=rofi-brightness
Comment=
Exec=rofi-brightness.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
