[Desktop Entry]
Categories=Rofi;Desktop;Settings;
Comment=
Exec=rofi-autostart.sh
Icon=media-playback-start
MimeType=
Name=Autostart Applications
Path=
StartupNotify=true
Terminal=false
Type=Application
