[Desktop Entry]
Name=Record Audio/Video
Comment=
Exec=rofi-ffmpeg.sh
Icon=media-record
Terminal=false
Type=Application
Categories=Rofi;Desktop;AudioVideo;Audio;Video;Recorder;
