[Desktop Entry]
Name=Weather Forecast
Comment=
Exec=rofi-weather.sh
Icon=weather-clear-symbolic
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;News;
