[Desktop Entry]
Name=TNT Village
Comment=
Exec=rofi-tnt.sh
Icon=application-x-bittorrent
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;P2P;
