[Desktop Entry]
Name=Cheat Sheets
Comment=
Exec=rofi-cheat.sh
Icon=accessories-text-editor
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;
