[Desktop Entry]
Name=rofi-playerctl
Comment=
Exec=rofi-playerctl.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
