[Desktop Entry]
Name=Google
Comment=
Exec=rofi-web-search.sh "google"
Icon=globe
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Network;
