[Desktop Entry]
Name=Set Wallpaper
Comment=
Exec=rofi-wallpaper.sh
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Rofi;Desktop;Settings;System;
