[Desktop Entry]
Name=Sport Events
Comment=
Exec=rofi-livetv.sh
Icon=view-calendar
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;Sports;TV;
