[Desktop Entry]
Name=rofi-session
Comment=
Exec=rofi-session.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
