[Desktop Entry]
Name=Translate Text
Comment=
Exec=rofi-translate.sh
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;Languages;
