[Desktop Entry]
Name=Battery
Comment=
Exec=rofi-battery-info.sh
Icon=battery-full
Terminal=false
Type=Application
Categories=Rofi;Desktop;System;Settings;
