[Desktop Entry]
Name=Podcasts
Comment=
Exec=rofi-podcast.sh
Icon=multimedia-player
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;AudioVideo;Audio;
