[Desktop Entry]
Name=Torrents (1337x)
Comment=
Exec=rofi-torrent.sh
Icon=application-x-bittorrent
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Network;P2P
