[Desktop Entry]
Name=eBooks
Comment=
Exec=rofi-books.sh
Icon=application-x-mobipocket-ebook
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Books;
