[Desktop Entry]
Name=Take Screenshot
Comment=
Exec=rofi-screenshot.sh
Icon=folder-pictures
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;
