#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Videos
Comment=
Exec=rofi-search.sh -t "Videos"
Icon=applications-multimedia
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Filesystem;
