[Desktop Entry]
Name=YouTube Feeds
Comment=
Exec=rofi -show "Youtube Feeds" -modi "Youtube Feeds:rofi-youtube-feeds.sh"
Icon=youtube
Terminal=false
Type=Application
Categories=Rofi;Desktop;News;Web;Network;AudioVideo;Video;
