[Desktop Entry]
Name=rofi-bluetooth
Comment=
Exec=rofi-bluetooth.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
