[Desktop Entry]
Name=Virtual Machines (libvirt)
Comment=
Exec=rofi -show libvirt -modi "libvirt:rofi-libvirt-mode.sh"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;
