[Desktop Entry]
Name=Virtual Machines (VirtualBox)
Comment=
Exec=rofi-virtualbox.sh
Icon=video-display
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;
