[Desktop Entry]
Name=Characters
Comment=
Exec=rofi-characters.sh
Icon=accessories-character-map
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;
