[Desktop Entry]
Name=Anime
Comment=
Exec=rofi-anime.sh --rofi
Icon=multimedia-video-player
Terminal=false
Type=Application
Categories=Rofi;Desktop;AudioVideo;Video;TV;Tuner;Web;Network;
