[Desktop Entry]
Name=System Services
Comment=
Exec=rofi-systemd.sh
Icon=applications-system
Terminal=false
Type=Application
Categories=Rofi;Desktop;System;Settings;
