[Desktop Entry]
Name=rofi-flathub
Comment=
Exec=rofi-flathub.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
