[Desktop Entry]
Name=rofi-translate
Comment=
Exec=rofi-translate.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
