#!/usr/bin/env xdg-open
[Desktop Entry]
Name=File Contents
Comment=
Exec=rofi-search.sh "File Contents"
Icon=text-plain
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Filesystem;
