#!/usr/bin/env xdg-open
[Desktop Entry]
Name=All Files
Comment=
Exec=rofi-search.sh "All Files"
Icon=system-search
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Filesystem;
