[Desktop Entry]
Name=Sport Events
Comment=
Exec=rofi-livetv.sh
Icon=event-new
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;Sports;TV;
