[Desktop Entry]
Name=1377x.to Torrents
Comment=
Exec=rofi-torrent.sh
Icon=download_manager
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Network;P2P
