[Desktop Entry]
Name=Music Player
Comment=
Exec=rofi-mpd.sh
Icon=mplayer
Terminal=false
Type=Application
Categories=Rofi;Desktop;AudioVideo;Audio;Music;Player;
