[Desktop Entry]
Name=GitHub
Comment=
Exec=rofi-github.sh
Icon=applications-internet
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Network;
