[Desktop Entry]
Name=Watch TV
Comment=
Exec=rofi-tv.sh
Icon=video-television
Terminal=false
Type=Application
Categories=Rofi;Desktop;AudioVideo;Video;TV;Tuner;
