[Desktop Entry]
Name=ArchWiki
Comment=
Exec=rofi-web-search.sh "archwiki"
Icon=system-search
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Network;
