[Desktop Entry]
Name=Dictionary
Comment=
Exec=rofi-dict.sh
Icon=accessories-dictionary
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;
