#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Recently Used
Comment=
Exec=rofi-search.sh "Recently Used"
Icon=folder-recent
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Filesystem;
