[Desktop Entry]
Name=Trivia
Comment=
Exec=rofi-quiz.py
Icon=applications-games
Terminal=false
Type=Application
Categories=Rofi;Desktop;Utility;Games;
