#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Videos
Comment=
Exec=rofi-search.sh "Videos"
Icon=video-mp4
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Filesystem;
