[Desktop Entry]
Name=Reddit
Comment=
Exec=rofi-reddit.sh
Icon=internet-web-browser
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Network;
