[Desktop Entry]
Name=eBooks
Comment=
Exec=rofi-books.sh
Icon=accessories-dictionary
Terminal=false
Type=Application
Categories=Rofi;Desktop;Search;Books;
