[Desktop Entry]
Name=Notifications
Comment=
Exec=rofication-gui.py
Icon=plugin-notification
Terminal=false
Type=Application
Categories=Rofi;Desktop;System;
