[Desktop Entry]
Name=rofi-desktop
Comment=
Exec=rofi-desktop.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
