[Desktop Entry]
Name=Volume Controls
Comment=
Exec=rofi-volume.sh
Icon=multimedia-volume-control
Terminal=false
Type=Application
Categories=Rofi;Desktop;Settings;AudioVideo;Audio;
