[Desktop Entry]
Name=rofi-calendar
Comment=
Exec=rofi-calendar.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
