[Desktop Entry]
Name=Wireguard VPN
Comment=
Exec=rofi -modi VPN:wireguard-rofi.sh -show VPN
Icon=network-vpn
Terminal=false
Type=Application
Categories=Rofi;Desktop;Network;RemoteAccess;Security;
