[Desktop Entry]
Name=wireguard-rofi
Comment=
Exec=wireguard-rofi.sh
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;
