[Desktop Entry]
Name=VPN
Comment=
Exec=rofi -modi VPN:wireguard-rofi.sh -show VPN
Icon=applications-accessories
Terminal=false
Type=Application
Categories=Rofi;Desktop;Network;RemoteAccess;Security;
